.container {
  line-height: 1.5;
}

.container p {
  margin-block: 0.5rem;
}

.container button {
  margin-block-start: 1rem;
}

.list {
  padding-inline-start: 1.5rem;
}

.list span {
  font-weight: 500;
}

.error {
  font-size: 0.9rem;
  color: hsl(var(--error));
  font-weight: 600;
}

.form {
  margin-block-start: 2rem;
}

@media screen and (min-width: 500px){
  .form {
    padding-inline: calc((100% - 450px) / 2);
  }
}